@import '../global/variables.scss';

//!== Этот стиль не нужен ==!
.mockup {
  background-color: #0a66c2;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
//!== Этот стиль не нужен ==!



.header {
  @include default;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {

  &:focus {
    outline: none;
  }
}