
.auth {
  max-width: 500px;
  margin: 100px auto;
  padding: 70px 65px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;

  &__title {
    padding-bottom: 40px;
  }

  &__divider {
    margin-top: 20px;
    color: #000;
  }
}