@import './global/variables.scss';

.input {
  padding: 13px 20px;
  background-color: $input-main;
  color: $input-font;
  border-radius: 20px;

    &__success {
      border: 1px solid $input-success;
    }

    &__error {
      border: 1px solid $input-error;
    }
}