.search {
  position: relative;

  input {
    background-color: #f5f5f5;
    padding: 13px 20px;
    border-radius: 12px;
    font-size: 14px;

    &:focus {
      outline: 1px solid #6237a0;
    }
  }

  img {
    width: 30px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 2px;
  }
}

.large {
  input {
    width: 415px;
  }
}

.small {
  input {
    width: 225px;
  }
}