.sidebar {
  margin: 30px;
  display: grid;
  gap: 30px;
  grid-template:
    'header header header header' 90px
    'nav sidebar adtop messaging' 400px
    'profile sidebar adbot messaging' 470px
    / 1fr 3fr 1fr 1fr;
}

.content {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr;
  gap: 30px;
}